* {
    background-color: var(--bg-color);
    text-align: center;
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
    top: 200px;
}

.thankyou-message {
    color: var(--button-color);
    text-align: center;
    position: relative;
    top: 210px;
    font-size:larger;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button {
    display: inline-block;
    height: 40px;
    width: 200px;
    line-height: 40px;
    border-radius: 10px;
    background-color: var(--button-color); /* matches your signbutton background */
    border: 2px solid var(--text-color);
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    position: relative;
    top: 260px;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(203, 122, 92, 0.35);
}
