* {
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--button-color);
    position: relative;
    top: 100px;
}

button {
    text-align: center;
    justify-content: center;
    background-color: var(--button-color);
    position: relative;
    left: 590px;
    top: 300px;
    margin: 10px;
}

.tired {
    width: 100px;
    height: 40px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tired::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50px;
    left: 0px;
    background-color: transparent;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}

.tired:hover::after {
    content: "Tired mode includes: Easy tasks appear first, Hard tasks comes second based on how you feel";
    width: 150px;
    height: 100px;
    padding: 10px;
    font-weight: bolder;
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    text-align: center;
    opacity: 1;
    transform: scale(1);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productive {
    width: 100px;
    height: 40px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-family: monospace;
    font-weight: bolder;
}

.productive::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50px;
    left: 0px;
    background-color: transparent;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}

.productive:hover::after {
    content: "Productive mode includes: Hardest tasks appear first, Easy tasks comes second based on how you feel";
    width: 150px;
    height: 100px;
    padding: 10px;
    font-weight: bolder;
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    text-align: center;
    opacity: 1;
    transform: scale(1);
    border-radius: 5px;
    font-family: monospace;
}

.fine {
    width: 100px;
    height: 40px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-family: cursive;
}

.fine::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50px;
    left: 0px;
    background-color: transparent;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}

.fine:hover::after {
    content: "Fine mode includes: Computer generated tasks based on difficulty easy then hard or hard then easy";
    width: 150px;
    height: 100px;
    padding: 10px;
    font-weight: bolder;
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    text-align: center;
    opacity: 1;
    transform: scale(1);
    border-radius: 5px;
    font-family: cursive;
}