* {
    background-color: var(--bg-color);
}

.title {
    text-align: center;
    color: var(--button-color);
    font-family: Arial, Helvetica, sans-serif;
}

#addBtn {
    border: 2px solid var(--border-color);
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    left: 700px;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .go-back {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        color: var(--button-color);
        float: left;
        position: relative;
        left: 10px;


    }

    .go-back span {
        font-size: 30px;
        color: var(--button-color);
        
    }

    .go-back,
    .go-back:visited,
    .go-back:hover,
    .go-back:active {
    color: var(--button-color);
    text-decoration: none;
    }

#no-notes {
    color: var(--text-color);
    position: absolute;
    left: 660px;
    top: 300px;
    font-family: sans-serif;
    opacity: 50%;
}
