* {
    background-color: var(--bg-color);
}

header {
    text-align: center;
    color: var(--button-color);
    position: relative;
    top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.go-back {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--button-color);
    float: left;
    position: relative;
    left: 10px;

}

.go-back span {
    font-size: 30px;
    color: var(--button-color);
    
}

.go-back,
.go-back:visited,
.go-back:hover,
.go-back:active {
  color: var(--button-color);
  text-decoration: none;
}
.accountdetail {
    text-align: center;
    position: relative;
    padding: 30px;
    color: var(--button-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.accountdetail p {
    margin-bottom: 40px;
}

.loyalty {
    text-align: center;
    color: var(--button-color);
    font-size: larger;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.loyalty-bar {
  width: 50%;
  height: 30px;
  background-color: #e6d9cd;
  border-radius: 5px;
  position: relative;
  left: 350px;
  top: 20px;
}

.loyaltyfill {
    height: 100%;
    background-color: var(--button-color);
    width: 0%;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
}
#loyalty-percent {
    text-align: center;
    color: var(--button-color);
    position: relative;
    top: 50px;
}