* {
    background-color: var(--bg-color);
}

.reminderInput {
    background-color: var(--button-color);
    position: absolute;
    left: 60%;
    top: 20%;
    width: 300px;   
    height: 25px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.reminderInput::placeholder {
    color: var(--text-color);
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
}

.send {
    position: absolute;
    left: 81%;
    top: 19.91%;
    border: 2px solid var(--border-color);
    background-color: var(--button-color);
    border-radius: 10px;
    
}

.send span {
    background-color: var(--button-color);
    height: 5px;
    cursor: pointer;
}

.reminderInput:hover {
    background-color: var(--button-color);
}

.container {
    height: 500px;
    width: 500px;
    background-color: var(--button-color);
    padding: 10px;
    position: absolute;
    left: 10%;
    top: 20%;
    overflow: auto;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.container::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

.notes {
    resize: none;
    background-color: var(--button-color);
    border: 2px solid var(--border-color);
    position: absolute;
    left: 60%;
    top: 40%;
    width: 400px;
    height: 300px;
    overflow: auto;
    border-radius: 5px;
}

.notes::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.notes::placeholder {
    color: var(--text-color);
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

    .go-back {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        color: var(--button-color);
        float: left;
        position: relative;
        left: 10px;


    }

    .go-back span {
        font-size: 30px;
        color: var(--button-color);
        
    }

    .go-back,
    .go-back:visited,
    .go-back:hover,
    .go-back:active {
    color: var(--button-color);
    text-decoration: none;
    }

.accessProfile {
    background-color: var(--bg-color);
    border: none;
    float: right;
}

.accessProfile span{
    color: var(--button-color);
    height: 20px;
}
